<!DOCTYPE html>
<html lang="en">

<head>
    <title>Moksha</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css" integrity="sha512-phGxLIsvHFArdI7IyLjv14dchvbVkEDaH95efvAae/y2exeWBQCQDpNFbOTdV1p4/pIa/XtbuDCnfhDEIXhvGQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.css" integrity="sha512-HWY8i77pPLL23sU4pHj+5iuZEmmmu2YaiTUcWrBXqBRTpn6yUdDvlFGNmG0qyjDg/vpt+YWNMASjg9M0eOU9DA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700" rel="stylesheet">
    
    <link rel="stylesheet" href="../stylesheets/icomoon/style.css">
    <link rel="stylesheet" href="../stylesheets/moksha.css">
</head>

<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">
    <nav class="navbar navbar-expand-lg site-navbar navbar-light bg-light" id="pb-navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample09">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#section-home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section-about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section-contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="site-hero"
        style="background-image: url(https://images.unsplash.com/photo-1473830394358-91588751b241?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);"
        id="section-home" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row intro-text align-items-center justify-content-center">
                <div class="col-md-10 text-center pt-5">
                    <h1 class="site-heading site-animate">Hello, I'm <strong class="d-block">Moksha Jain</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section" id="section-about">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                    <div id="aboutimg">
                    </div>
                </div>
                <div class="col-lg-5 pl-lg-5">
                    <div class="section-heading">
                        <h2>About <strong>Me</strong></h2>
                    </div>
                    <p class="lead">I am MOKSHA, Web Designer & Developer.
                        Since beginning my journey as a freelance designer nearly 2 years ago,
                        I've done remote work for agencies, startups, and collaborated with talented people
                        to create digital products for both business and consumer use.
                    </p>
                    <p class="mb-3 ">New experiences & challenges are my things. I'm quietly confident, naturally
                        curious, and perpetually working on improving my chops
                        one design problem at a time. I prefer to keep learning, continue challenging myself,
                        and do interesting things that matter..</p>
                    <p class="mb-4  ">If you have any cool projects or opportunities. <br> Get in touch...!</p>
                    <p>
                        <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Contact Me</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section" id="section-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="section-heading text-center">
                        <h2>Get <strong>In Touch</strong></h2>
                    </div>
                </div>
                <div class="col-md-7 mb-5 mb-md-0">
                    <form action="" class="site-form">
                        <h3 class="mb-5">Get In Touch</h3>
                        <div class="form-group">
                            <input type="text" id="username" class="form-control px-3 py-4" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" id="mail" class="form-control px-3 py-4" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <input type="number" id="num" class="form-control px-3 py-4" placeholder="Your Phone">
                        </div>
                        <div class="form-group mb-5">
                            <textarea id="text" name="text" class="form-control px-3 py-4" cols="30" rows="10"
                                placeholder="Write a Message"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary  px-4 py-3" value="Send Message">
                        </div>
                    </form>
                </div>
                <div class="col-md-5 pl-md-5">
                    <h3 class="mb-5">My Contact Details</h3>
                    <ul class="site-contact-details">
                        <li>
                            <span class="text-uppercase">Email</span>
                            mokshajain7176@gmail.com
                        </li>
                        <li>
                            <span class="text-uppercase">Phone</span>
                            +91 9981275682 <br>+91 9479953161
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <footer class="site-footer">
        <div class="container">
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                  <p>
                    Copyright &copy;
                    <script data-cfasync="false"
                      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>document.write(new Date().getFullYear());</script> All Rights Reserved <br> Designed & Developed
                    with <i class="icon-heart text-primary" aria-hidden="true"></i> by <a href="/moksha">Moksha</a>
                  </p>
                </div>
              </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.1/jquery-migrate.min.js" integrity="sha512-wDH73bv6rW6O6ev5DGYexNboWMzBoY+1TEAx5Q/sdbqN2MB2cNTG9Ge/qv3c1QNvuiAuETsKJnnHH2UDJGmmAQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js" integrity="sha512-eUQ9hGdLjBjY3F41CScH3UX+4JDSI9zXeroz7hJ+RteoCaY+GP/LDoM8AO+Pt+DRFw3nXqsjh9Zsts8hnYv8/A==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha512-M5KW3ztuIICmVIhjSqXe01oV2bpe248gOxqmlcYrEzAvws7Pw3z6BK0iGbrwvdrUQUhi3eXgtxp5I8PDo9YfjQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.stellar@0.6.2/jquery.stellar.min.js"></script>  
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- 
    <script src="js/vendor/jquery.easing.1.3.js"></script>

    <script src="js/vendor/jquery.waypoints.min.js"></script>

    <script src="js/custom.js"></script> -->

    <!-- Google Map -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="js/google-map.js"></script> -->
        
    <script>
        $('form').on('submit', (e) => {
            alert('Message Sent...!');
            const subject = $('#username').val().trim();
            const email = $('#mail').val().trim();
            const number = $('#num').val().trim();
            const text = $('#text').val().trim();

            const data = {
                subject,email,number,text
            };

            $.post('/email', data, function(){
                console.log('Data Recieved!');
            });
        });
    </script>
</body>

</html>